<%= bootstrap_form_for(@suspect) do |form| %>
  <% if suspect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suspect.errors.count, "error") %> prohibited this suspect from being saved:</h2>

      <ul>
      <% suspect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container">
  <!-- Muestra el panel de agregacion -->
      <div class="panel-group" >
          <div class="panel panel-default" >
            <!-- encabezado -->
              <div class="panel-heading ">
                <b class="panel-title">Imputado</b>
               
              </div>
              <!-- formulario -->
              <div class="panel-body " >
                <div class="col-md-6">
              <%= form.fields_for :entity, @suspect.entity do |ent| %>
               <%= render "shared/entity_fields", :form => ent %>
              <% end %></div>
              <div class="col-md-6">
              <%= form.text_field :ci, id: :suspect_ci, label: 'CI', required: "true", placeholder: 'Este campo es Obligatorio', type: 'digits' %></div>
              <div class="col-md-6">
              <%= form.text_field :reason, id: :suspect_reason, label: 'Causa', required: "true", placeholder: 'Este campo es Obligatorio' %></div>
              <div class="col-md-6">
              <%= form.text_field :mothers_name, id: :suspect_mothers_name, label: 'Nombre de Madre' %></div>
              <div class="col-md-6">
              <%= form.text_field :fathers_name, id: :suspect_fathers_name, label: 'Nombre de Padre' %></div>
              <div class="col-md-6">
              <%= form.text_field :criminal_record, id: :suspect_record, label: 'Antecedentes' %></div>
              <div class="col-md-6">
              <%= form.text_field :present_status, id: :suspect_present_status, label: 'Estado Actual',required: "true", placeholder: 'Este campo es Obligatorio' %></div>
              <div class="col-md-6">
              <%= form.text_field :nationality, id: :suspect_nationality, label: 'Nacionalidad', required: "true", placeholder: 'Este campo es Obligatorio' %></div>
              <div class="col-md-6">
              <%= form.text_field :home_adress, id: :suspect_home_adress, label: 'Domicilio' %></div>
              <!-- Boton agregar -->

                    <div class="col-md-12">    
                      <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                        <%= fa_icon 'floppy-o' %> Guardar
                      <% end %> 
                       <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), suspects_path, class: 'btn btn-default pull-left' %>
                    </div>  
                

            <% end %>          
          </div> <!-- fin panel default -->
        </div> <!-- fin group -->
   