
<p id="notice"><%= notice %></p>


   

 
     <div class="panel-group" >
      <div class="panel panel-default" >
            <!-- encabezado -->
              <div class="panel-heading ">
                <b class="panel-title"  >reporte</b>

              </div>
       <div class="panel-body "  >
    <table id="dato" class= "table table-hover   table-bordered table-striped" >
       <thead>
         <tr>
             <th>Nombre</th>
             <th>Fecha de Nacimiento</th>
             <th>Correo</th>
             <th>Teléfono</th>
             <th>Cédula de Identidad</th>
             <th>Nacionalidad</th>
             <th class="col-md-2"></th>
          </tr>
       </thead>
      <tbody>
        <% @suspects.each do |suspect| %>
          <tr>
            <td><%= suspect.entity.full_name %></td>
            <td><%= suspect.entity.birthdate %></td>
            <td><%= suspect.entity.email %></td>
            <td><%= suspect.entity.phone %></td>
            <td><%= suspect.ci %></td>
            <td><%= suspect.nationality %></td>
             <td align="center" ><% link_to (fa_icon 'eye'), suspect, class: 'btn btn-info'  %>
              <% link_to (fa_icon 'pencil'), edit_suspect_path(suspect), class: 'btn btn-success' %>
              <% link_to (fa_icon 'trash'), suspect, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <input id="pdf-button" type="button" value="Download PDF" onclick="html_to_pdf()" />
  </div>
  </div>




