<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Imputado</h2></div>
  <table class="table">
   <thead>
     <th>Nombre</th>
     <th>Fecha de nacimiento</th>
     <th>Correo</th>
     <th>Teléfono</th>
     <th>CI</th>
     <th>Nacionalidad</th>
     <th>Causa</th>
     <th>Nombre de la madre</th>
     <th>Nombre del padre</th>
     <th>Antecedentes</th>
     <th>Estado Actual</th>
     <th>Domicilio</th>
   </thead>
   <tbody>
    <tr>
      <td><%= @suspect.entity.full_name %></td>
      <td><%= @suspect.entity.birthdate %></td>
      <td><%= @suspect.entity.email %></td>
      <td><%= @suspect.entity.phone %></td>
      <td><%= @suspect.ci %></td>
      <td><%= @suspect.nationality %></td>
      <td><%= @suspect.reason %></td>
      <td><%= @suspect.mothers_name %></td>
      <td><%= @suspect.fathers_name %></td>
      <td><%= @suspect.criminal_record %></td>
      <td><%= @suspect.present_status %></td>
      <td><%= @suspect.home_adress %></td>
     </tr> 
   </tbody>
  </table>
         
</div>
 <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_suspect_path(@suspect), class: 'btn btn-default pull-right' %>
    <%= link_to (fa_icon 'file-text-o', text: 'Reporte'), reporte_suspect_path(@suspect), class: 'btn btn-default pull-right' %>
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), suspects_path, class: 'btn btn-default pull-left' %>
</div>

