<%= bootstrap_form_for(@lawyer) do |form| %>
  <% if lawyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lawyer.errors.count, "error") %> prohibited this lawyer from being saved:</h2>

      <ul>
      <% lawyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   



  <% end %>
 
<h1 >Registrar Defensor</h1>

 <form>  
  <%= form.fields_for :entity, @lawyer.entity do |ent| %>
    <%= render "shared/entity_fields", :form => ent %>
  <% end %>
  <%= form.fields_for :user, @lawyer.user do |usr| %>
    <%= render "shared/user_fields", :f => usr %>
  <% end %>


       
        <%= form.text_field :type_lawyer, label: "tipo de defensor",id: :lawyer_type_lawyer %>
    </from>
  
   <div class="actions">
        <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'),lawyers_path ,class: "btn btn-primary"%>
        <%= button_tag(type: 'submit', class: "btn btn-default") do %>
          <%= fa_icon 'floppy-o', text: 'Guardar' %>
        <%end%>
      </div>

<%end%>
