<p id="notice"><%= notice %></p>



<p>
  <strong>Nombre </strong>
  <%= @lawyer.entity.name%>
</p>
  <strong>Apellido</strong>
  <%= @lawyer.entity.last_name%>
</p>
  <strong>Telefono</strong>
  <%= @lawyer.entity.phone%>
</p>
  <strong>Correo</strong>
  <%= @lawyer.entity.email%>
</p>

<p>
  <strong>Tipo de Defensor</strong>
  <%= @lawyer.type_lawyer %>
</p>
<%= link_to (fa_icon 'arrow-circle-left', text: 'Atrás'),lawyers_path ,class: "btn btn-primary"%>
<%= link_to (fa_icon 'pencil', text:'Editar'), edit_lawyer_path(@lawyer), class: "btn btn-default" %> 

