<p id="notice"><%= notice %></p>

<h1>Jueces</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th>Juzgado</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @judges.each do |judge| %>
      <tr>

        <td><%= judge.entity.full_name %></td>
        <td><%= judge.entity.phone %></td>
        <td><%= judge.entity.email %></td>
        <td><%= judge.court.name %></td>
        <td>
          <%= link_to (fa_icon 'search'), judge, class: 'btn btn-default' %>
          <%= link_to (fa_icon 'pencil'), edit_judge_path(judge), class: 'btn btn-default' %>
          <%= link_to (fa_icon 'trash'), judge, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (fa_icon 'plus', text: 'Nuevo Juez'), new_judge_path, class: 'btn btn-primary' %>
