<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Juez</h2></div>
  <table class="table">
   <thead>
     <th>Nombre</th>
     <th>Teléfono</th>
     <th>Correo</th>
     <th>Corte</th>
   </thead>
   <tbody>
    <tr>
      <td><%= @judge.entity.full_name %></td>
      <td><%= @judge.entity.phone %></td>
      <td><%= @judge.entity.email %></td>
      <td><%= @judge.court.name %></td>
     </tr> 
   </tbody>
  </table>
         
</div>
   <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_judge_path(@judge), class: 'btn btn-default pull-right' %>
   <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), judges_path, class: 'btn btn-default pull-left' %>
</div>
