<%= bootstrap_form_for(@visit) do |form| %>

  <% if visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="col-md-4"></div>
  <div class="col-md-5"><!-- Tamaño del formulario -->
 
 <!-- Formulario --> 
  <div class="panel panel-primary" >
        <div class="panel-body"> 
              <%= form.collection_select :suspect_id, Suspect.all, :id, :name_with_initial, label:"Imputado" %>

              <%= form.text_field :name_visit, id: :visit_name_visit,label:"Nombre" %>

              <%= form.date_select :date_visit, id: :visit_date_visit ,label:"Dia De La Visita"%>
              <%= form.text_field :observation, id: :visit_observation,label:"Observacion" %>
              <!-- Botones -->
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Atras'),visits_path,class:  'btn btn-default pull-left'%>  
              <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                <%= fa_icon 'floppy-o' %> Guardar
              <% end %> 
             
              <% end %>       
        
            </div>
        </div>
        <hr></hr>
      </div>

