 <link rel="stylesheet" type="text/css" href="print.css" />
<link rel="stylesheet" type="text/css" href="Style.css" />
<div  class="box">
  <%= link_to (fa_icon 'file-pdf-o', text:'Imprimir' ),"javascript:PrintDoc()" ,class: "btn btn-default" %>
  <div id = "printarea" class="box-header">
    <div class="text-center">
      <h3><b>Reporte de Visitas</b></h3>
      <h4><b>Fecha: </b><%= DateTime.now.strftime("%d/%m/%Y %H:%M") %></h4>
    </div>
    <ul class="col-md-12">
      <!--Detalle de sus transferencias-->
      <li class="list-group-item active"><strong>Visitas</strong></li>
      <li class="list-group-item">
        <table class= "table table-hover table-striped  table-bordered table-striped" >
          <thead>
            <tr>
          <th>Imputado</th>
          <th>Nombre del Visitante</th>
          <th>Dia Visitado</th>
          <th>Observacion</th>
            </tr>
          </thead>
          <tbody>
             <% @visits.each do |visit| %>
              <tr>
                <td><%= @visit.suspect.entity.full_name %></td>
                <td><%= @visit.name_visit %></td>
                <td><%= @visit.date_visit %></td>
                <td><%= @visit.observation %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</div>
