<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Visitas</h2></div>
  <table class="table">
   <thead>
          <th>Imputado</th>
          <th>Nombre del Visitante</th>
          <th>Dia Visitado</th>
          <th>Observacion</th>
   </thead>
   <tbody>
    <tr>
            <td><%= @visit.suspect.entity.full_name %></td>
            <td><%= @visit.name_visit %></td>
            <td><%= @visit.date_visit %></td>
            <td><%= @visit.observation %></td>
     </tr> 
   </tbody>
  </table>

 
</div>
              <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_visit_path(@visit), class: 'btn btn-default pull-right' %>
               <%= link_to (fa_icon 'file-text-o', text: 'Reporte'), reporte_visitas_visit_path(@visit), class: 'btn btn-default pull-right' %>
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), visits_path, class: 'btn btn-default pull-left' %>
</div>