<p id="notice"><%= notice %></p>
<h1 align="center">Historial de Casos</h1>

 <hr>     
      
<table id="table_di" class= "table table-hover  table-striped table-bordered" >
 
  <thead>
    <tr>
      <th>Formulario de Entrada</th>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Juzgado</th>
      <th>Juez</th>
      <th>Imputado</th>
      <th>Ficha Penal</th>
      <th>Comentario</th>
      <th>Sentencia</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @casos.each do |legal_case| %>
      <tr>
        <td><%= casos.entry_form %></td>
        <td><%= casos.name %></td>
        <td><%= legal_case.user.entity.full_name %></td>
        <td><%= legal_case.court.name %></td>
        <td><%= legal_case.judge.entity.full_name %></td>
        <td><%= legal_case.suspect.entity.full_name %></td>
        <td><%= legal_case.criminal_record.inquire_number %></td>
        <td><%= legal_case.comment %></td>
        <td><%= legal_case.final_sentence %></td>
         
      </tr>
    <% end %>
  </tbody>
</table>

<br>
