<%= bootstrap_form_for(@user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4"></div>
  <div class="col-md-5"><!-- Tamaño del formulario -->
 
 <!-- Formulario --> 
  <div class="panel panel-primary" >
        <div class="panel-body">
              <%= form.fields_for :entity, @user.entity do |ent| %>
                <%= render "shared/entity_fields", :form => ent %>
              <% end %>
              
              <%= form.password_field :password, id: :user_password, label: "Contraseña", :autocomplete => :off %>
              <%= form.password_field :password_confirmation, id: :user_password_confirmation, label: "Confirmar Contraseña", autocomplete: false %>
              <% if @user!=nil%>
                <div class="form-group">
                  <label>Roles: </label>
                  <label>
                    <% @user.roles.each do |rol| %>
                      <%= rol.name %>
                    <% end %>
                  </label>
                  <label>
                    <% if @user.has_role? :admin %>
                      <% cambiar_a_rol = "Default"%>
                    <% else %>
                      <% cambiar_a_rol = "Admin" %>
                    <% end %>
                    <% if @user==nil %>
                      <%= link_to "Hacer "+cambiar_a_rol, cambiar_rol_user_path, class: 'btn btn-default'%>
                    <% end %>  
                  </label>
                </div>
              <% end %>
              <%= form.text_field :type_user, id: :user_type_user, label: "Tipo de Defensor/Asistente" %>
              <!-- Botones -->
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Atras'),users_path,class:  'btn btn-default pull-left'%>  
              <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                <%= fa_icon 'floppy-o' %> Guardar
              <% end %> 
             
              <% end %>       
        
            </div>
        </div>
        <hr></hr>
      </div>