

<!-- PANEL PRINCIPAL -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <% if @titulo %>
        <%= @titulo %>
      <% else %>
        Usuarios
      <% end %>
    </h3>
     <div class="box-tools">
        <ul class=" no-margin pull-right">
          <%= link_to (fa_icon 'plus', text: 'Crear'), new_user_path, class: 'btn btn-primary' %>
        </ul>
     </div>
  </div>

  <!-- TABLA -->
  <div class="panel-body table-responsive "  >
    <table id="table_di" class= "table table-hover   table-bordered table-striped" >
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Nacimiento</th>
          <th>Tipo de Usuario</th>
          <th class="col-md-2" />
          <th />
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.entity.email %></td>
            <td><%= user.entity.full_name %></td>
            <td><%= user.entity.phone %></td>
            <td><%= user.entity.birthdate %></td>
            <td><%= user.type_user %></td>
            <td align="center" >
              <div class="btn-group">
                <%= link_to (fa_icon 'eye' ), user ,class: "btn btn-default" %>
                <%= link_to (fa_icon 'pencil'), edit_user_path(user),class: "btn btn-default" %>
              </div>
            </td>
            <td>
              <a href="#auditoria_usuarios" class="modifications-count" title="Click para ver las modificaciones" onclick="mostrar_modificaciones('<%= auditoria_usuario_user_url(user)%>', 'usuarios')">
                <% if user.audits.count < 10 %>
                  <%= user.audits.count %>
                <% else %>
                  9+
                <% end %>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- PANEL PRINCIPAL AUDITORIA -->
<div id="auditoria-usuarios"></div>
