<!-- PANEL PRINCIPAL -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <% if @titulo %>
        <%= @titulo %>
      <% else %>
        Usuarios
      <% end %>
    </h3>
     <div class="box-tools">
        <ul class=" no-margin pull-right">
          <%= link_to (fa_icon 'plus', text: 'Crear'), new_user_path, class: 'btn btn-primary' %>
        </ul>
     </div>
  </div>


  <!-- TABLA -->
  <div class="panel-body "  >
    <table id="table_di" class= "table table-hover   table-bordered table-striped" >
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Nacimiento</th>
          <th>Email (Entidad)</th>
          <th>Tipo de Usuario</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.entity.full_name %></td>
            <td><%= user.entity.phone %></td>
            <td><%= user.entity.birthdate %></td>
            <td><%= user.entity.email %></td>
            <td><%= user.type_user %></td>
            <td align="center" ><%= link_to (fa_icon 'eye'), user, class: 'btn btn-info'  %>
             <%= link_to (fa_icon 'pencil'), edit_user_path(user), class: 'btn btn-success' %>
             <%= link_to (fa_icon 'trash'), user, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
