<%= bootstrap_form_for(@legal_case) do |form| %>
  <% if legal_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(legal_case.errors.count, "error") %> prohibited this legal_case from being saved:</h2>

      <ul>
      <% legal_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="panel-group" >
          <div class="panel panel-default" >
            <!-- encabezado -->
              <div class="panel-heading ">
                <b class="panel-title"  >Caso</b>

              </div>
              <!-- formulario -->
              <div class="panel-body "  >


                     <div class="col-md-6"><%= form.text_field :name, id: :legal_case_name, label: "Nombre del caso", required: "true", placeholder: 'Este campo es Obligatorio'%></div>


                      <div class="col-md-6"><%= form.text_field :entry_form, id: :legal_case_entry_form, label: "Formulario de Entrada", required: "true", placeholder: 'Este campo es Obligatorio' %></div>

                      <div class="col-md-6"><%= form.collection_select :suspect_id, Suspect.all, :id, :name_with_initial, label: "Imputado", required: "true", placeholder: 'Este campo es Obligatorio' %></div>


                      <div class="col-md-6"><%= form.collection_select :user_id, User.all, :id, :name_with_initial, label: "Defensor", required: "true", placeholder: 'Este campo es Obligatorio' %></div>


                      <div class="col-md-6"><%= form.collection_select :court_id, Court.all, :id, :name_with_initial, label: "Juzgado" %></div>

                      <div class="col-md-6"><%= form.collection_select :judge_id, Judge.all, :id, :name_with_initial, label: "Juez" %></div>

                      <div class="col-md-6"><%= form.collection_select :criminal_record_id, CriminalRecord.all, :id, :number_with_initial, label: "Ficha Penal", required: "true", placeholder: 'Este campo es Obligatorio' %></div>

                      <div class="col-md-6"><%= form.text_field :final_sentence, id: :legal_case_final_sentence, label: "Sentencia" %></div>

                     <div class="col-md-6"><%= form.text_area :comment, label: "Comentario", id: :legal_case_comment %></div>

                   <!-- Boton agregar -->
                    <div class="col-md-12">
                      <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                        <%= fa_icon 'floppy-o' %> Guardar
                      <% end %>
                      <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), legal_cases_path, class: 'btn btn-default pull-left' %>
                    </div>
                    <div></div>
                </div>

            <% end %>
          </div> <!-- fin panel default -->
        </div> <!-- fin group -->
