<div class="box">
  <div class="box-header">
    <div class="text-center">
      <h3><b>Reporte de Caso</b></h3>
      <h4><b>Fecha: </b><%= DateTime.now.strftime("%d/%m/%Y %H:%M") %></h4>
    </div>
    <ul class="col-md-12">
      <!-- Detalle del caso -->
      <li class="list-group-item active"><strong>Detalle de Caso</strong></li>
      <li class="list-group-item"><strong>Nombre del caso: </strong><%= @legal_case.name %></li>
      <li class="list-group-item"><strong>Imputado: </strong><%= @legal_case.suspect.entity.full_name %></li>
      <li class="list-group-item"><strong>Defensor: </strong><%= @legal_case.user.entity.full_name %></li>
      <li class="list-group-item"><strong>Juzgado: </strong><%= @legal_case.court.name %></li>
      <li class="list-group-item"><strong>Juez: </strong><%= @legal_case.judge.entity.full_name %></li>
      <li class="list-group-item"><strong>Sentencia Final: </strong><%= @legal_case.final_sentence %></li>
      <li class="list-group-item"><strong>Comentario: </strong><%= @legal_case.comment %></li>

      <!-- Detalle de su ficha penal -->
      <li class="list-group-item active"><strong>Ficha Penal </strong></li>
      <li class="list-group-item"><strong>Etapa Procesal: </strong><%= @criminal_record.procedural_stage %></li>
      <li class="list-group-item"><strong>Numero de Expediente: </strong><%= @criminal_record.inquire_number %></li>
      <li class="list-group-item"><strong>Fecha de Intervencion: </strong><%= @criminal_record.intervention_date %></li>
      <li class="list-group-item"><strong>Clasificacion de Delito: </strong><%= @criminal_record.type_of_crime %></li>
      <li class="list-group-item"><strong>Lugar de Comision: </strong><%= @criminal_record.commission_place %></li>
      <li class="list-group-item"><strong>Fecha de Comision: </strong><%= @criminal_record.commission_date %></li>
      <li class="list-group-item"><strong>Unidad Fiscal: </strong><%= @criminal_record.prosecutor_unit %></li>
      <li class="list-group-item"><strong>Medidas de Prevencion: </strong><%= @criminal_record.precautionary_measures %></li>

      <!--Detalle de sus audiencias -->
      <li class="list-group-item active"><strong>Audiencias</strong></li>
      <li class="list-group-item">
        <table class= "table table-hover table-bordered table-striped table-responsive" >
          <thead>
            <tr>
              <th>Fecha de Audiencia</th>
              <th>Defensor</th>
            </tr>
          </thead>
          <tbody>
            <% @hearings.each do |hearing| %>
              <tr>
                <td><%= hearing.audiencia %></td>
                <td><%= hearing.user.entity.full_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </li>

      <!--Detalle de sus transferencias-->
      <li class="list-group-item active"><strong>Transferencias</strong></li>
      <li class="list-group-item">
        <table class= "table table-hover table-striped  table-bordered table-striped" >
          <thead>
            <tr>
              <th>Fecha de Transferencia</th>
              <th>Nuevo Encargado</th>
              <th>Comentario</th>
            </tr>
          </thead>
          <tbody>
            <% @transfers.each do |transfer_case| %>
              <tr>
                <td><%= transfer_case.date_ttransfer %></td>
                <td><%= transfer_case.user.entity.full_name %></td>
                <td><%= transfer_case.comentary %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</div>
