<p id="notice"><%= notice %></p>
<h1>Detalle Juzgado</h1>
<hr>
<ul class="list-group">
  <li class="list-group-item">
    <strong>Nombre:</strong>
  	<%= @court.name %>
  </li>
  <li class="list-group-item">
  	<strong>Teléfono:</strong>
  	<%= @court.phone %>
  </li>
  <li class="list-group-item">
  	<strong>Dirección:</strong>
  	<%= @court.address %>
  </li>
</ul>

<%= link_to (fa_icon 'pencil', text: 'Editar'), edit_court_path(@court), class: 'btn btn-primary' %>
<%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), courts_path, class: 'btn btn-default' %>
