<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Ficha Penal</h2></div>
  <table class="table">
   <thead>
     <th>Etapa Procesal</th>
     <th>Numero de Expediente</th>
     <th>Fecha de Intervención</th>
     <th>Clasificación de Delito</th>
     <th>Lugar de Comisión</th>
     <th>Fecha de Comisión</th>
     <th>Unidad Fiscal</th>
     <th>Medida de Prevención</th>
   </thead>
   <tbody>
    <tr>
      <td><%= @criminal_record.procedural_stage %></td>
      <td><%= @criminal_record.inquire_number %></td>
      <td><%= @criminal_record.intervention_date %></td>
      <td><%= @criminal_record.type_of_crime %></td>
      <td><%= @criminal_record.commission_place %></td>
      <td><%= @criminal_record.commission_date %></td>
      <td><%= @criminal_record.prosecutor_unit %></td>
      <td><%= @criminal_record.precautionary_measures %></td>
     </tr> 
   </tbody>
  </table>
         
</div>
                 <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_criminal_record_path(@criminal_record), class: 'btn btn-success pull-right' %>
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), criminal_records_path, class: 'btn btn-default pull-left' %>
</div>