<%= bootstrap_form_for(@equipment_detail) do |form| %>
  <% if equipment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_detail.errors.count, "error") %> prohibited this equipment_detail from being saved:</h2>

      <ul>
        <% equipment_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Muestra el panel de agregacion -->
  <div class="panel-group" >
    <div class="panel panel-default" >
    <!-- encabezado -->
      <div class="panel-heading ">
        <b class="panel-title">Equipo</b>
      </div>
      <!-- formulario -->
      <div class="panel-body " >
        <%= form.collection_select :legal_case_id, Legal_case.all, :id, :name_with_initial, label: "Caso", required: "true", placeholder: 'Este campo es Obligatorio' %>
        <%= form.collection_select :user_id, User.all, :id, :name_with_initial, label: "Defensor", required: "true", placeholder: 'Este campo es Obligatorio' %>
       <!-- Boton agregar -->
        <div>&nbsp;</div>
        <div class="col-md-12">
          <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
            <%= fa_icon 'floppy-o' %> Guardar
          <% end %>
          <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'),  equipment_details_path, class: 'btn btn-default pull-left' %>
        </div>
      </div> <!-- fin panel default -->
    </div> <!-- fin group -->
  </div>
<% end %>
