<%= bootstrap_form_for(@court) do |form| %>
  <% if court.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(court.errors.count, "error") %> prohibited this court from being saved:</h2>
      <ul>
        <% court.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Muestra el panel de agregacion -->
  <div class="panel-group" >
    <div class="panel panel-default" >
      <!-- encabezado -->
      <div class="panel-heading ">
        <b class="panel-title">Juzgado</b>
      </div>
      <!-- formulario -->
      <div class="panel-body " >
        <%= form.text_field :name, id: :court_name, label: 'Nombre',placeholder:""  %>
        <%= form.text_field :phone, id: :court_phone, label: 'Teléfono',placeholder:""  %>
        <%= form.text_field :address, id: :court_address, label: 'Dirección',placeholder:""  %>
        <!-- Boton agregar -->
        <div>&nbsp;</div>
        <div class="col-md-12">
          <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
            <%= fa_icon 'floppy-o' %> Guardar
          <% end %>
          <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'),  courts_path, class: 'btn btn-default pull-left' %>
        </div>
      </div> <!-- fin panel default -->
    </div> <!-- fin group -->
  </div>
<% end %>
