

<h1 align="center" >Juzgados <%= link_to (fa_icon 'plus', text: ''), new_court_path,class: 'btn btn-primary'  %></h1>
 <hr>      
<table id="table_di" class= "table table-hover  table-striped table-bordered" >

  <thead>
    <tr >
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th class="col-md-2"></th> 
    </tr>
  </thead>

  <tbody>
    <% @courts.each do |court| %>
      <tr >
        <td><%= court.name %></td>
        <td><%= court.phone %></td>
        <td><%= court.address %></td>
        <td align="center" ><%= link_to (fa_icon 'eye'), court, class: 'btn btn-info'  %>
         <%= link_to (fa_icon 'pencil'), edit_court_path(court), class: 'btn btn-success' %>
         <%= link_to (fa_icon 'trash'), court, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger' %></td>
 
      </tr>
    <% end %>

  </tbody>
</table>

<br>



