<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Juzgado</h2></div>
  <table class="table">
   <thead>
     <th>Nombre</th>
     <th>Telefono</th>
     <th>Dirección</th>
   </thead>
   <tbody>
    <tr>
      <td><%= @court.name %></td>
      <td><%= @court.phone %></td>
      <td><%= @court.adress %></td>
     </tr> 
   </tbody>
  </table>
         
</div>
                <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_court_path(@court), class: 'btn btn-default pull-right' %>
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), courts_path, class: 'btn btn-default pull-left' %>
</div>