<%= bootstrap_form_for(@shift) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="col-md-4"></div>
  <div class="col-md-5"><!-- Tamaño del formulario -->
 
 <!-- Formulario --> 
  <div class="panel panel-primary" >
        <div class="panel-body">
  
              <%= form.date_select :shift_date, id: :shift_shift_date, label:"Fecha de Turno" %>
              <%= form.collection_select :user_id, User.all, :id, :name_with_initial, label: "Usuario" %>
              <!-- Botones -->
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Atras'),shifts_path,class:  'btn btn-default pull-left'%>  
              <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                <%= fa_icon 'floppy-o' %> Guardar
              <% end %> 
             
              <% end %>       
        
            </div>
        </div>
        <hr></hr>
      </div>
