
<!-- PANEL PRINCIPAL -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Turnos</h3>
     <div class="box-tools">
        <ul class=" no-margin pull-right">
          <%= link_to (fa_icon 'plus', text: 'Crear'), new_shift_path, class: 'btn btn-primary' %> 
     </div>
  </div>


  <!-- TABLA -->
  <div class="panel-body table-responsive "  >
<table id="table_di" class= "table table-hover  table-striped table-bordered" >
  <thead>
    <tr>
      <th>Fecha de Turno</th>
      <th>Defensor</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.shift_date %></td>
        <td><%= shift.user.entity.full_name %></td>
        <td align="center" ><%= link_to (fa_icon 'eye'), shift, class: 'btn btn-info'  %>
         <%= link_to (fa_icon 'pencil'), edit_shift_path(shift), class: 'btn btn-success' %>
         <%= link_to (fa_icon 'trash'), shift, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

