<%= bootstrap_form_for(@hearing) do |form| %>
  <% if hearing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hearing.errors.count, "error") %> prohibited this hearing from being saved:</h2>

      <ul>
      <% hearing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <!-- Muestra el panel de agregacion -->
      <div class="panel-group" >
          <div class="panel panel-default" >
            <!-- encabezado -->
              <div class="panel-heading ">
                <b class="panel-title">Audiencia</b>
                
              </div>
              <!-- formulario -->
              <div class="panel-body " >
               
         <%= form.date_field :hearing_date, id: :hearing_hearing_date, label:"Fecha de Audiencia" %>
         <%= form.collection_select :user_id, User.all, :id, :name_with_initial, label: "Usuario", required: "true", placeholder: 'Este campo es Obligatorio' %>

          <%= form.collection_select :legal_case_id, LegalCase.all, :id, :name_with_initial, label: "Caso",required: "true", placeholder: 'Este campo es Obligatorio' %>

         <div class="col-md-12">    
                      <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                        <%= fa_icon 'floppy-o' %> Guardar
                      <% end %> 
                      <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'),   hearings_path, class: 'btn btn-default pull-left' %>
                    </div>  
              <% end %>       
        
            </div>
        </div>
        <hr></hr>
      </div>
