<%= bootstrap_form_for(@hearing) do |form| %>
  <% if hearing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hearing.errors.count, "error") %> prohibited this hearing from being saved:</h2>

      <ul>
      <% hearing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-4"></div>
  <div class="col-md-5"><!-- Tamaño del formulario -->
 
 <!-- Formulario --> 
  <div class="panel panel-primary" >
        
        <div class="panel-body">
 
         <%= form.date_select :hearing_date, id: :hearing_hearing_date, label:"Fecha de Audiencia" %>
           <%= form.collection_select :user_id, User.all, :id, :name_with_initial, label: "Usuario" %>
         <%= form.collection_select :legal_case_id, LegalCase.all, :id, :name_with_initial, label: "Caso" %>

          <%= link_to (fa_icon 'arrow-circle-left', text: 'Atras'),hearings_path,class:  'btn btn-default pull-left'%>
                   
          <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
          <%= fa_icon 'floppy-o' %> Guardar
                     <% end %> 
             
              <% end %>       
        
            </div>
        </div>
        <hr></hr>
      </div>
