<p id="notice"><%= notice %></p>
<h1 align="center">Audiencias <%= link_to (fa_icon 'plus', text: ''), new_hearing_path,class: 'btn btn-primary' %></h1>
 <%= link_to "Reporte (PDF)",hearings_path(format: 'pdf'), class: "btn btn-info" %>
 <hr>      
<table id="table_di" class= "table table-hover  table-striped table-bordered" >
  <thead>
    <tr>
      <th>Fecha de Audiencia</th>
      <th>Usuario</th>
      <th>Caso</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @hearings.each do |hearing| %>
      <tr>
        <td><%= hearing.audiencia %></td>
        <td><%= hearing.user.entity.full_name %></td>
        <td><%= hearing.legal_case.name %></td>
        <td align="center" ><%= link_to (fa_icon 'eye'), hearing, class: 'btn btn-info'  %>
         <%= link_to (fa_icon 'pencil'), edit_hearing_path(hearing), class: 'btn btn-success' %>
         <%= link_to (fa_icon 'trash'), hearing, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
