<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Audiencia</h2></div>
  <table class="table">
   <thead>
     <th>Fecha de audiencia</th>
     <th>Defensor</th>
     <th>Caso</th>
   </thead>
   <tbody>
    <tr>
      <td><%= @hearing.hearing_date %></td>
      <td><%= @hearing.user.entity.full_name %></td>
      <td><%= @hearing.legal_case.name %></td>
     </tr> 
   </tbody>
  </table>
         
</div>
    <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_hearing_path(@hearing), class: 'btn btn-default pull-right' %>

     <%= link_to (fa_icon 'file-text-o', text: 'Reporte'), reporte_hearing_path(@hearing), class: 'btn btn-default pull-right' %>
     <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), hearings_path, class: 'btn btn-default pull-left' %>
</div>