<%= bootstrap_form_for(@lawyer_action) do |form| %>
  <% if lawyer_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lawyer_action.errors.count, "error") %> prohibited this lawyer_action from being saved:</h2>

      <ul>
      <% lawyer_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container">
  <!-- Muestra el panel de agregacion -->
      <div class="panel-group" >
          <div class="panel panel-default" >
            <!-- encabezado -->
              <div class="panel-heading ">
                <b class="panel-title">Accion defensor</b>
                
              </div>
              <!-- formulario -->
              <div class="panel-body " >
                <div>&nbsp;</div>
              <%= form.date_select :action_date, id: :lawyer_action_action_date, label: "Fecha de Accion" %>
              <div>&nbsp;</div>
              <%= form.collection_select :legal_case_id, LegalCase.all, :id, :name_with_initial, label: "Caso" %> 
              <div>&nbsp;</div>
              <%= form.text_area :comment, id: :lawyer_action_comment, label: "Comentario" %>

                  <!-- Boton agregar -->
                  <div>&nbsp;</div>
                    <div class="col-md-12">    
                      <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                        <%= fa_icon 'floppy-o' %> Guardar
                      <% end %> 
                      <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), lawyer_actions_path, class: 'btn btn-default pull-left' %>
                    </div>  
                

            <% end %>          
          </div> <!-- fin panel default -->
        </div> <!-- fin group -->
        </div>
        