
<div class="col-md-4"></div>
<div class="col-md-5"><!-- Tamaño del formulario --> 
 <!-- Formulario --> 
  <div class="panel panel-info">
    <div class="panel-heading " align="center">
    	<h3>Nueva Accion de Defensor </h3>
     </div>
        <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">
				  <strong>Fecha de Accion:</strong>
				  <%= @lawyer_action.action_date %>
				 </li>
				  <li class="list-group-item">
				  <strong>Caso:</strong>
				  <%= @lawyer_action.legal_case.name %>
				 </li>
				  <li class="list-group-item">
				  <strong>Comentario:</strong>
				  <%= @lawyer_action.comment %>
				 </li>
              </ul>
              <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_lawyer_action_path(@lawyer_action), class: 'btn btn-success pull-right' %>
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), lawyer_actions_path, class: 'btn btn-default pull-left' %>
            </div>
          </div>
          </div> 

