<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Acción de defensor</h2></div>
  <table class="table">
   <thead>
     <th>Fecha de acción</th>
     <th>Caso</th>
     <th>Comentario</th>
   
   </thead>
   <tbody>
    <tr>
      <td><%= @lawyer_action.action_date %></td>
      <td><%= @lawyer_action.legal_case.name %></td>
      <td><%= @lawyer_action.comment %></td>
 
     </tr> 
   </tbody>
  </table>
         
</div>
 <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_lawyer_action_path(@lawyer_action), class: 'btn btn-default pull-right' %>
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), lawyer_actions_path, class: 'btn btn-default pull-left' %>
</div>
