<%= bootstrap_form_for(@reclusion) do |form| %>

  <% if reclusion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reclusion.errors.count, "error") %> prohibited this reclusion from being saved:</h2>

      <ul>
      <% reclusion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container">
  <!-- Muestra el panel de agregacion -->
      <div class="panel-group" >
          <div class="panel panel-default" >
            <!-- encabezado -->
              <div class="panel-heading ">
                <b class="panel-title">Recluso</b>
                
              </div>
              <!-- formulario -->
              <div class="panel-body " >
<<<<<<< HEAD
                <div>&nbsp</div>
              <%= form.collection_select :suspect_id, Suspect.all, :id, :name_with_initial, label:"Nombre" %>
              <%= form.text_field :place, id: :reclusion_place,label:"Lugar de Reclusión" %>
              <div>&nbsp</div>
=======
                <div>&nbsp;</div>
              <%= form.collection_select :suspect_id, Suspect.all, :id, :name_with_initial, label:"Imputado", required: "true", placeholder: 'Este campo es Obligatorio' %>
              <%= form.text_field :place, id: :reclusion_place,label:"Lugar", required: "true", placeholder: 'Este campo es Obligatorio' %>
              <div>&nbsp;</div>
<<<<<<< HEAD
              <%= form.date_select :date_entry, id: :reclusion_date_entry,label:"Fecha De Entrada", required: "true", placeholder: 'Este campo es Obligatorio' %>
=======
>>>>>>> 93c7cbafb2810113ceb33c2ad221508d3e48de0c
              <%= form.date_select :date_entry, id: :reclusion_date_entry,label:"Fecha De Entrada" %>
>>>>>>> b45da8be86d31d2ebcaef7f4e6d94af1ceef500b
              <div>&nbsp;</div>
              <%= form.date_select :date_out, id: :reclusion_date_out,label:"Fecha De Salida" %>
  <div>&nbsp;</div>
             <div class="col-md-12">    
                      <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                        <%= fa_icon 'floppy-o' %> Guardar
                      <% end %> 
                      <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'),   reclusions_path, class: 'btn btn-default pull-left' %>
                    </div>  
              <% end %>       
        
            </div>
        </div>
        <hr></hr>
      </div>
