
<p id="notice"><%= notice %></p>

<!-- PANEL PRINCIPAL -->
  <div class="box">
            <div class="box-header">
              <h3 class="box-title">LISTA DE RECLUIDOS</h3>
               <div class="box-tools">
                  <ul class=" no-margin pull-right">
                    <%= link_to (fa_icon 'plus', text: 'Crear'), new_reclusion_path, class: 'btn btn-primary' %>
                  </ul> 
               </div>
            </div>
                         

              <!-- TABLA -->
            <div class="panel-body "  >   
                <table id="table_di" class= "table table-hover   table-bordered table-striped" >
                    <thead>  <!-- TITULOS DE LA TABLE -->
                        <tr>
                          <th>Nombre</th>
                          <th>Lugar de Reclusión</th>
                          <th>Fecha de entrada</th>
                          <th>Fecha de salida</th>
                          <th class="col-md-2"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @reclusions.each do |reclusion| %>
                          <tr>
                            <td><%= reclusion.suspect.entity.full_name%></td>
                            <td><%= reclusion.place %></td>
                            <td><%= reclusion.date_entry %></td>
                            <td><%= reclusion.date_out %></td>
                           <td align="center" >
                              <div class="btn-group">
                                <%= link_to (fa_icon 'eye' ), reclusion ,class: "btn btn-default" %>
                                <%= link_to (fa_icon 'pencil'), edit_reclusion_path(reclusion),class: "btn btn-default" %>
                                <%= link_to (fa_icon 'trash'), reclusion, method: :delete, data: { confirm: 'Está seguro?' },class: "btn btn-default"  %>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                    </tbody>
              </table>
</div>
</div>
