<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Reclusión</h2></div>
  <table class="table">
   <thead>
      <th>Nombre</th>
      <th>Lugar</th>
      <th>Fecha de entrada</th>
      <th>Fecha de salida</th>
   </thead>
   <tbody>
    <tr>
        <td><%=@reclusion.suspect.entity.full_name%></td>
        <td><%=@reclusion.place %></td>
        <td><%=@reclusion.date_entry %></td>
        <td><%=@reclusion.date_out %></td>
     </tr> 
   </tbody>
  </table>
         
</div>
             <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_reclusion_path(@reclusion), class: 'btn btn-default pull-right' %>
              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), reclusions_path, class: 'btn btn-default pull-left' %>
</div>