<%= bootstrap_form_for(@transfer_case) do |form| %>
  <% if transfer_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer_case.errors.count, "error") %> prohibited this transfer_case from being saved:</h2>

      <ul>
      <% transfer_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <!-- Muestra el panel de agregacion -->
      <div class="panel-group" >
          <div class="panel panel-default" >
            <!-- encabezado -->
              <div class="panel-heading ">
                <b class="panel-title">Transferencia de Caso</b>

              </div>
              <!-- formulario -->
              <div class="panel-body " >
               <%= form.collection_select :legal_case_id, LegalCase.all, :id, :name_with_initial, label: "Caso", required: true, placeholder: 'Este campo es obligatorio' %>
                
              <%= form.collection_select :user_id, User.all, :id, :name_with_initial, label: "Nuevo Defensor Encargado", required: true, placeholder: 'Este campo es obligatorio'  %>

              <%= form.date_field :date_ttransfer, id: :transfer_case_date_transfer, label: "Fecha de Transferencia" %>

              <%= form.text_area :comentary, id: :transfer_case_comentary, label: "Comentario" %>



              <!-- Botones -->
             <div class="col-md-12">
                      <%= button_tag(type: 'submit',class: "btn btn-primary pull-right") do %>
                        <%= fa_icon 'floppy-o' %> Guardar
                      <% end %>
                      <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'),  transfer_cases_path, class: 'btn btn-default pull-left' %>
                    </div>


            <% end %>
          </div> <!-- fin panel default -->
        </div> <!-- fin group -->
        </div>
