<div class="table-responsive">  
<div class="panel panel-info">
  <div class="panel-heading"><h2>Transferencia</h2></div>
  <table class="table">
   <thead>
     <th>Caso</th>
     <th>Nuevo defensor encargado</th>
     <th>Fecha de transferencia</th>
     <th>Comentario</th>
   </thead>
   <tbody>
    <tr>
      <td><%= @transfer_case.legal_case.name %></td>
      <td><%= @transfer_case.user.entity.full_name %></td>
      <td><%= @transfer_case.date_ttransfer %></td>
      <td><%= @transfer_case.comentary %></td>
     </tr> 
   </tbody>
  </table>

 
</div>
              <%= link_to (fa_icon 'pencil', text: 'Editar'), edit_transfer_case_path(@transfer_case), class: 'btn btn-default pull-right' %>

              <%= link_to (fa_icon 'file-text-o', text: 'Reporte'), reporte_completo_transfer_transfer_case_path(@transfer_case), class: 'btn btn-default pull-right' %>

              <%= link_to (fa_icon 'arrow-circle-left', text: 'Volver'), transfer_cases_path, class: 'btn btn-default pull-left' %>
</div>

