<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sistema Defensoría</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  <%= csrf_meta_tags %>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="skin-blue sidebar-mini">
<% if user_signed_in? and (@nomenu==nil || !@nomenu) %>
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="legal_cases#index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>DP</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Sistema </b>Defensoría Pública</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">

        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
              <!-- <span class="glyphicon glyphicon-user"></span>!-->
             <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menú</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Manejo de Casos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="<%= hearings_path %>"><i class="fa fa-circle-o"></i> Audiencia</a></li>
            <li><a href="<%= legal_cases_path %>"><i class="fa fa-circle-o"></i> Ficha de Casos</a></li>

            <li><a href="<%=criminal_records_path %>"><i class="fa fa-circle-o"></i> Fichas Penales</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Entidades</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="<%=courts_path %>"><i class="fa fa-circle-o"></i>Juzgados </a></li>
            <li><a href="<%=judges_path %>"><i class="fa fa-circle-o"></i>Jueces </a></li>
            <!--li><a href="<%=users_path %>"><i class="fa fa-circle-o"></i>Usuarios</a></li-->
            <li><a href="<%= users_path({tipo_rol: "lawyer"}) %>"><i class="fa fa-circle-o"></i>Defensores</a></li>
            <li><a href="<%= users_path({tipo_rol: "assistant"}) %>"><i class="fa fa-circle-o"></i>Asistentes</a></li>
            <li><a href="<%=suspects_path %>"><i class="fa fa-circle-o"></i> Imputados</a></li>

          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Acciones</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="<%=lawyer_actions_path %>"><i class="fa fa-circle-o"></i> Acciones de Defensores </a></li>
            <li><a href="<%=transfer_cases_path %>"><i class="fa fa-circle-o"></i> Transferencia de casos</a></li>
            <li><a href="<%=visits_path %>"><i class="fa fa-circle-o"></i> Visitas</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Reportes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
           <li><a href="<%=cases_reports_path%>"><i class="fa fa-circle-o"></i> Reporte de Casos</a></li>
           <li><a href="<%=users_reports_path%>"><i class="fa fa-circle-o"></i> Reporte de Usuarios</a></li>
           <li><a href="<%=transfer_cases_reports_path%>"><i class="fa fa-circle-o"></i> Reporte de Transferencia</a></li>
           <li><a href="<%=suspects_reports_path%>"><i class="fa fa-circle-o"></i> Reporte de Imputados</a></li>
           <li><a href="<%=shifts_reports_path%>"><i class="fa fa-circle-o"></i> Reporte de Turnos</a></li>
          </ul>
        </li>
        <!-- Dejo estatico mientras  -->
        <!--li><a href="correo#index"><i class="fa fa-circle-o"></i> Enviar Mail</a></li-->
        <!-- Dejo estatico mientras  -->
        <li>
          <a href="<%= equipment_details_path %>">
            <i class="fa fa-circle-o"></i>
            <span>Detalles de equipo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

      </ul>

    </section>
    <!-- /.sidebar -->
  </aside>
  <% end %>

  <!-- Content Wrapper. Contains page content -->
  <% if notice %>
    <p class= "notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class= "alert"><%= alert %></p>
  <% end %>
  <% if user_signed_in? and (@nomenu==nil || !@nomenu) %>
  <div class="content-wrapper">
    <section class="content container-fluid">
      <% end %>
      <%= yield %>
      <% if user_signed_in? and (@nomenu==nil || !@nomenu) %>
    </section>
  </div>
  <footer class="page-footer footer">
      <div class="container-fluid">
        <span>Copyright © 2017 - Univeridad Nacional de Itapúa - Facultad de Ingeniería.</span>
      </div>
  </footer>

</div>
<!-- ./wrapper -->
<% end %>
</body>
</html>
